body {
  position: relative;
}
.mainbody {
  background-color: white;
}
table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
}
.maintable {
  margin-top: 50px;
  width: 70%;
}
.card {
  perspective: 1000px;
  width: 95%; 
  margin: auto;
  float: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.flip-front, .flip-back {
  position: absolute;
  width: 95%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
h1 {
 text-decoration: underline; 
}
#credit {
  bottom: 0px;
  text-align: center;
  width: 100%;
  position: fixed;
}
