body {
  position: relative;
}
.mainbody {
  background-color: white;
}
table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
}
.maintable {
  margin-top: 50px;
  width: 70%;
}
.card {
  width: 95%; 
  margin: auto;
  float: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}
h1 {
 text-decoration: underline; 
}
#credit {
  bottom: 0px;
  text-align: center;
  width: 100%;
  position: fixed;
}
