body {
  position: relative;
}
.mainbody {
  background-image: url("gAtPv0.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}
table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
}
th {
  align: center; 
}
.card {
  width: 95%; 
  align: center;
}
h1 {
 text-decoration: underline; 
}
